src/FutureComputer.API/obj
src/FutureComputer.API/bin
src/FutureComputer.Application/bin
src/FutureComputer.Application/obj
src/FutureComputer.Domain/bin
src/FutureComputer.Domain/obj
src/FutureComputer.Infrastructure/bin
src/FutureComputer.Infrastructure/obj