src/FutureComputer.API/obj
src/FutureComputer.API/bin
src/FutureComputer.Application/bin
src/FutureComputer.Application/obj
src/FutureComputer.Domain/bin
src/FutureComputer.Domain/obj
src/FutureComputer.Infrastructure/bin
src/FutureComputer.Infrastructure/obj
obj

tests/FutureComputer.Application.UnitTest/obj
tests/FutureComputer.Application.UnitTest/bin

tests/FutureComputer.API.IntegrationTests/obj
tests/FutureComputer.API.IntegrationTests/bin

.vs/*
.vscode/*
*.cache
*.editorconfig
*.suo
*.vsidx

tests/FutureComputer.Application.UnitTest/obj/FutureComputer.Application.UnitTest.csproj.nuget.dgspec.json
tests/FutureComputer.Application.UnitTest/obj/FutureComputer.Application.UnitTest.csproj.nuget.g.props
tests/FutureComputer.Application.UnitTest/obj/project.assets.json
